@model IEnumerable<wpJulioSolorzano.Models.PRODUCTO_PRICE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATE_INIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIST.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_INIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIST.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
